h1 {
    background-color: #6a0dad; /* Deep purple */
    color: white;
    padding: 10px;
    margin: 2px;
    margin-bottom: 0px;
    text-align: center;
    font-size: xx-large;
    border-radius: 8px;
}

table {
    padding: 3px;
    border-radius: 5px;
    background-color: #d8b5f9; /* Light purple */
    border: 0px;
    margin: 30px;
}

/*body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url("oslogo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
}*/

body {
    background-image: url("https://i.stack.imgur.com/jGlzr.png");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

td {
    border: 0px;
    background-color: white;
    border-radius: 3px;
    text-align: center;
    padding: 3px;
}

input {
    border: 0px;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: large;
}

.alltables {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

th {
    background-color: #9b59b6; /* Purple shade */
    color: white;
    padding: 6px;
    border: 0px;
}

.in-data {
    background-color: #f3e9ff; /* Very light purple */
    border: 2px solid #6a0dad;
    border-radius: 5px;
    padding: 6px;
    margin: 4px;
    width: 75px;
}

button {
    background-color:#6a0dad;
    color: white;
    padding: 10px 20px;
    margin: 6px;
    border-radius: 5px;
    border: 0px;
    font-size: 15px;
    font-weight: bold;
}

button:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.299);
    background-color: #5e3370;
}

#top {
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

#contol, #lab {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#seq {
    background-color: #8e44ad;
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: larger;
    border-radius: 0px 0px 1px 1px;
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
}

.ss-label {
    border-radius: 3px;
    padding: 5px;
    margin-left: 10px;
}

.resoreq {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.ch-out {
    border: 5px solid #9b59b6;
    background-color: #f3e9ff;
    width: 70%;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    justify-content: left;
}

#ch {
    font-weight: bold;
    font-style: italic;
    height: 50px;
    text-align: center;
}
